@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
	body, html{
		font-family: "Poppins", sans-serif;
		scroll-behavior: smooth;
	}

	.banner{
		background: url(../img/background.png) center no-repeat;
	    background-size: cover;
	    padding-top: 15vh;
	    padding-bottom: 15vh;
	}

	.login-card{
		background: #FFFFFF;
	    box-shadow: 0px 0px 24.0193px rgba(0, 0, 0, 0.35);
	    border-radius: 20px;
	    max-width: 480px;
	}
	.login-form{
		padding: 45px 2.9rem;
	}
	.header-text{
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 45px;
		color: #000000;
		margin-bottom: 6px;
	}
	.subheader-text{
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 25px;
		/* or 139% */

		text-align: center;

		color: #fff;
		height: 0px;
		margin-bottom: 15px;
	}

	.login-form label{
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;
	}

	input.form-control{
		background: #FFFFFF;
		border: 1.5px solid #C1C3CB;
		box-sizing: border-box;
		border-radius: 5px;
		height: 45px;
		width: 100%;
	}

	.forgot-password{
		text-align: right;
    	margin: -5px 10px 20px;
    	font-size: 14px;
	}
	.forgot-password a{
		color: #1957a8;
	}

	.forgot-password a:hover{
		color: #BB2525;
		text-decoration:none;
	}

	.custom-btn{
		height: 50px;
		background: #fcb82a;
		border-color: #fcb82a;
		border-radius: 5px;
		width: 100%;
	}

	.custom-btn:hover{
		background: #1957a8;
		border-color: #1957a8;
	}

	.custom-btn:not(:disabled):not(.disabled).active, .custom-btn:not(:disabled):not(.disabled):active, .show>.custom-btn.dropdown-toggle {
	    color: #fff;
	    background-color: #1957a8;
	    border-color: #1957a8;
	}

	.banner-content h2{
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		color: #FFFFFF;
		margin-top: 10vh
	}

	.banner-content p{
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 30px;
		color: #FFFFFF;
		padding-right: 100px;
	}

	.navbar{
		/*margin-bottom: unset;*/
		/*margin: 14px 40px;*/
		padding: .5rem 1.6rem;
	}

	ul.navbar-nav{
		display: contents;
	}

	.navbar-brand{
		/*padding: 0px;
		padding: 4px;*/
	}

	.navbar-brand img {
	    /*height: 100%;*/	
	}

	.navitem-padding{
		padding-right: 20px;
	}

	.custon-nav-btn{
		color: #1957a8;
		border-color: #1957a8;
		min-width: 90px;
	}

	.custon-nav-btn:not(:disabled):not(.disabled).active, .custon-nav-btn:not(:disabled):not(.disabled):active, .show>.custon-nav-btn.dropdown-toggle {
	    color: #fff;
	    background-color: #1957a8;
	    border-color: #1957a8;
	}

	.custon-nav-btn:hover {
	    color: #fff;
	    background-color: #fcb82a;
	    border-color: #fcb82a;
	}


/*
==============================
Benefits Area CSS
==============================
*/

.benefits-area{
  padding: 90px 0 60px;
  background: url(../img/dott.png) center repeat;
  background-size: contain;
}

.benefits-area-title{
	font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 60px;
    /*margin-top: 0px;*/
    text-transform: capitalize;
}

.single-box {
  text-align: center;
  min-height: 285px;
  -webkit-box-shadow: 0 0 20px 0 rgba(67, 67, 67, 0.15);
          box-shadow: 0 0 20px 0 rgba(67, 67, 67, 0.15);
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .4s;
  transition: .4s;
  margin-bottom: 60px;
  border-radius: 10px;
  background-color: #fcfcfc
}

.single-box:hover {
  background: #185bad;
 /* -webkit-box-shadow: unset;
          box-shadow: unset;*/
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.single-box .icon {
  color: #006e99;
  font-size: 45px;
}


.single-box h3 {
  margin-top: 25px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
}

.single-box p {
  font-size: 15px;
}

.single-box:hover, .single-box:hover .icon, .single-box:hover h3, .single-box:hover p {
  color: #fff;
}	

.single-box img{
	margin: 0 auto;
    width: 50%;
    max-height: 70px;
}


/*
==============================
About Intro CSS
==============================
*/
.about-intro{
	background-color: #000;
    color: #fff;
    padding: 100px 0 170px;
}

.about-intro-title{
	font-style: normal;
    font-weight: bold;
    font-size: 34px;
}

.about-intro-content{
	font-weight: 300;
    padding: 8px 20rem 0;
}


/*
==============================
About Content CSS
==============================
*/

.about-content{
	background: #F1F3F2;
}

.about-video-wrapper{
	position: absolute;
    width: 100%;
}

.about-video{
	background: url(../img/abt-vd-img.png) center no-repeat #0071bd;
    background-size: cover;
	border-radius: 5px;
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 120px;
    margin: -100px auto 10px;
    width: 670px;
}

.overlay{
    padding: 121px 335px;
    margin-left: -120px;
    position: absolute;
    top: -100px;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    border-radius: 5px;
    opacity: .7;
}


.video-btn {
    text-align: center;
    position: absolute;
    top: -15px;
    text-align: center;
    margin-left: 180px
}

.video-btn a {
    color: #ffffff;
    /*text-align: center;*/
    display: inline-block;
    /*margin: 0 auto;*/
    width: 70px;
    height: 70px;
    padding-bottom: 18px;
    line-height: 66px;
    background: #006e9900;
    border-color: #fff;
    /* position: relative; */
    border-width: 4px;
    border-style: solid;
    font-size: 24px;
    border-radius: 50%;
}

.about-content-container{
	padding-top: 300px;
	padding-bottom: 150px;
}

.content-description {
	margin: 30px 0 50px;
}

.content-description .title{
	padding-top: 50px;
	font-weight: 600;
    font-size: 25px;
	color: #000000;
}

.content-description .description{
	padding-top: 10px;
	padding-right: 25px;
    font-size: 17px;
    line-height: 28px;
    color: #000000;
}

.content-card {
    background: #FFFFFF;
    border-radius: 18px;
    color: #000000;
    padding: 60px 50px;
    margin: 0 10px 25px;
/*    -webkit-box-shadow: 0 0 20px 0 rgba(67, 67, 67, 0.15);
          box-shadow: 0 0 20px 0 rgba(67, 67, 67, 0.15);*/
  overflow: hidden;
  -webkit-transition: .4s;
  transition: .4s;
}

.content-card:hover {
  background: #185bad;
  color: #fff;
 /* -webkit-box-shadow: unset;
          box-shadow: unset;*/
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.content-card .title {
    font-weight: 600;
    font-size: 20px;
    /* line-height: 30px; */
}

.content-card .description {
    font-size: 14px;
    padding-top: 13px;
    line-height: 25px;
}

.content-card:hover .description{
	color: #faf8f8c9;
}


/*
==============================
Footer CSS
==============================
*/
footer{
	padding: 50px 100px 30px;
	background: #F6F8FC;
}

footer a{
	/*text-decoration: none;*/
	color: #1A3147;
}

footer a:hover {
    color: #0056b3;
    text-decoration: none;
}

.footer-col{
	padding-bottom: 20px;
}

.footer-heading{
	font-weight: 500;
	font-size: 18px;
	color: #011B33;
	margin-bottom: 10px;
}
.footer-content{
	/*font-weight: 400;*/
	font-size: 16px;
	color: #1A3147;
}

.footer-content ul{
	list-style: none;
	padding: 0;
}

.copyright{
	/*padding-top: 20px;*/
	font-size: 14px;
	color: #1A3147;
}





/*
==============================
Responsive CSS
==============================
*/

@media (max-width: 576px){
	footer{
		padding: 50px 20px 30px;
	}
	.about-intro-content{
		font-weight: 300;
	    padding: 8px 0 0;
	}
	.about-video{
	    margin: unset!important;
	    width: unset!important;
	}
	.overlay{
		padding:121px 50vw;
		position: absolute;
    	top: 0;
    	/*margin-left: 0px;*/
	}
	.video-btn{
		top: 84px;
	    margin-left: 43vw;
	    left: 0;
	}
	.about-intro {
	    padding: 100px 0 80px;
	}
	.about-content-container{
	    padding-top: 240px;
        padding-bottom: 80px;
	}
	.content-description{
		text-align: center;
		margin: 0px 0 50px;
	    padding-top: 30px;
	}
}

@media (min-width:577px) and (max-width: 767px){
	.footer-img{
		width: 80%;
	}
	.about-intro-content{
		font-weight: 300;
	    padding: 8px 0 0;
	}
	.about-video{
	    margin: unset!important;
	    width: unset!important;
	}
	.overlay{
		padding:121px 50vw;
		position: absolute;
    	top: 0;
    	/*margin-left: 0px;*/
	}
	.video-btn{
		top: 84px;
	    margin-left: 44vw;
	    left: 0;
	}
	.about-intro {
	    padding: 100px 0 80px;
	}
	.about-content-container{
	    padding-top: 240px;    
	    padding-bottom: 80px;
	}
	.content-description{
		text-align: center;
		margin: 0px 0 50px;
	    padding-top: 30px;
	}

}

@media (min-width:768px) and (max-width: 991px){
	.about-intro-content{
		font-weight: 300;
	    padding: 8px 4rem 0;
	}
	.about-content-container{
	    padding-top: 150px;
	}
	.content-description{
		text-align: center;
		margin: 0px 0 50px;
	    padding-top: 30px;
	}
}

@media (min-width:992px) and (max-width: 1199px){
	.about-intro-content{
		font-weight: 300;
	    padding: 8px 12rem 0;
	}

	.content-card{
		height: 360px;
	}
}


